:root {--left-bg-color: #717771bb; --right-bg-color: #717771bb;}
* {margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: 'poppins', sans-serif;}
html, body {height: 100vh; overflow: hidden;}
.box {width: 100%; height: 100%; position: relative; background: #333; display: flex; justify-content: center; align-items: center;}
.split {position: absolute; width: 50%; height: 100%; overflow: hidden;}
.split.left {left: 0; background: url('analysis_ver2.png') center/ cover no-repeat; display: flex; justify-content: center; align-items: center;}
.split.right {right: 0; background: url('chatbot.png') center/ cover no-repeat; display: flex; justify-content: center; align-items: center;}
.split.left::before {content: ''; position: absolute; width: 100%; height: 100%; background: var(--left-bg-color);}
.split.right::before {content: ''; position: absolute; width: 100%; height: 100%; background: var(--right-bg-color);}
h1 {position: absolute; left: 50%; transform: translateX(-50%); top: 40%; white-space:nowrap; font-size: 3rem; color: #fff;}
.btn {position: absolute; left: 50%; top: 50%; transform: translateX(-50%); border: #fff solid .1rem; font-size: 1rem; font-weight: 300; text-transform: uppercase; width: 15rem; padding: 1.5rem; color: #fff; display: flex; justify-content: center; align-items: center;}
.btn1:hover {background: #F19B60; border: none; color: #fff;}
.btn2:hover {background: #31A191; border: none; color: #fff;}
.split.left, .split.right, .split.left::before, .split.right::after {transition: all 0.7s ease-in-out;}
.hover-left .left {width: 75%;}
.hover-left .right {width: 25%;}
.hover-right .right {width: 75%;}
.hover-right .left {width: 25%;}
